.search__subheading {
  font-family: 'Roboto', 'Arial';
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  max-width: 608px;
  margin: 0 auto 64px;
}

@media screen and (max-width: 768px) {
  .search__subheading {
    max-width: 452px;
    margin: 0 auto 48px;
  }
}

@media screen and (max-width: 768px) {
  .search__subheading {
    max-width: 288px;
    margin: 0 auto 122px;
  }
}
