.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -35px;
  right: -35px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__close {
    display: none;
  }
}
