@import url('__heading/not-found__heading.css');
@import url('__image/not-found__image.css');
@import url('__subheading/not-found__subheading.css');

.not-found {
  min-height: 374px;
  background-color: #F5F6F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
